
@media (min-width: 1300px) {
    .container {
        width: 1270px !important;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1370px !important;
    }
}

@media (min-width: 1500px) {
    .container {
        width: 1470px !important;
    }
}

.dl-horizontal dt {
	text-align: left;
	width: auto;
	padding-right: 1em;
}

.dl-horizontal dd {
	margin-left: 0;
}

a[ng-click]{
    cursor: pointer;
}


.button-wrapper .btn {
    margin-bottom:5px;
}


.item-image{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 72px;
    height: 72px;
    margin-right: 6px;
    background-size: cover;
    border: 1px solid rgb(221,221,221);
    transition: 0.25s;
}

.primary-stat {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    padding: 0 2px !important;
    background: rgba(255, 255, 255, 0.9);
    line-height: 13px;
    color: rgb(0, 0, 0);
    font-size: 10px;
    font-weight: 700;
}

.skinny{
    margin-bottom: 5px !important
}

.Void{
    color: #b184c5;
}

.Solar{
    color: #f2721b;
}

.Arc{
    color: #85c5ec;
}


.Void-bg{
    background: #b184c5;
}

.Solar-bg{
    background: #f2721b;
}

.Arc-bg{
    background: #85c5ec;
}

.muted{
    opacity: 0.8;
}

.textCenter {
    text-align: center;
}

.icon-blocks {
    -webkit-border-radius: 0.15em;
    -moz-border-radius: 0.15em;
    -ms-border-radius: 0.15em;
    -o-border-radius: 0.15em;
    border-radius: 0.15em;
    background: #1c94c6;
    color: #fff;
    display: block;
    float: left;
    margin: 0 0.5em 0 0;
    padding: 0.2em;
    position: relative;
    text-align: center;
    width: 1.6em;
}

.jumbotron li {
    font-size: 21px;
    font-weight: 200;
}

.icon-blocks.icon-blocks--facebook {
    background: #3b5998;
}

.icon-blocks.icon-blocks--twitter {
    background: #00aced;
}

.icon-blocks.icon-blocks--paypal {
    background-color: #ff9a00;
}

table.floatThead-table {
    border-top: none;
    border-bottom: none;
    /*background-color: #FFF;*/
}

.floatBgDefault{
    background-color: #FFF;
}

.floatBgCyborg{
    background-color: #060606;
}

.floatBgSlate{
    background-color: #272b30;
}

.floatBgDarkly{
    background-color: #222222;
}