<html>
<head>
    <meta name="description"
          content="Quickly report on Destiny progress, stats, gear and progress for you and your friends!"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="css/toaster.min.css" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet">
</head>
<body>
<div class="container" ng-app="gearApp" ng-controller="gearController">
    <!-- header-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle collapsed"><span
                        class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a href="http://www.destinychecklist.net" target="_blank" class="navbar-brand"
                   style="padding-top: 6px; padding-bottom: 6px">
                    <img alt="Brand" height="38px" width="38px" src="icon38.png">
                </a>
            </div>
            <div id="navbarBlah" class="collapse navbar-collapse">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                            <input type="text" ng-model="vm.globalFilters.text"
                                   ng-change="vm.setTextFilter(vm); vm.filterItems(vm)" class="form-control"
                                   placeholder="Filter by text">
                        </div>
                    </div>

                    <div class="form-group">
                        <select ng-model="vm.globalFilters.tag" ng-change="vm.filterItems(vm)" id="sltTag"
                                class="form-control">
                            <option value="any">Any Tag</option>
                            <option value="infuse">Infuse</option>
                            <option value="upgrade">Upgrade</option>
                            <option value="keep">Keep</option>
                            <option value="junk">Junk</option>
                            <option value="test">Test</option>
                            <option value="none">Not Marked</option>
                        </select>
                    </div>
                    <button ng-click="vm.resetGlobalFilters();vm.filterItems(vm)" type="button" class="btn btn-default">
                        Reset
                    </button>
                </form>

                <ul class="nav navbar-nav navbar-right" style="margin-right: 0px !important;">
                    <p class="navbar-text">
                        {{vm.marks}} Marks | {{vm.glimmer| number:0}} Glimmer |
                        <a ng-click="vm.openDCTab()">{{platform.id}}</a>

                        <b>{{platform.label}}</b>
                        <span ng-if="platform.alternate">
                            <a ng-click="switchPlatform()">{{platform.alternate.label}}</a>
                        </span>
                        | {{vm.version}}
                    </p>
                    <li class="dropdown"><a target="_self" data-toggle="dropdown" class="dropdown-toggle">Theme<span
                            id="selectedTheme"><span class="caret"></span></span></a>
                        <ul class="dropdown-menu">
                            <li><a target="_self" data-suffix="default" class="cssSelector">Default</a></li>
                            <li><a target="_self" data-suffix="slate" class="cssSelector">Slate</a></li>
                            <li><a target="_self" data-suffix="paper" class="cssSelector">Paper</a></li>
                            <li><a target="_self" data-suffix="flatly" class="cssSelector">Flatly</a></li>
                            <li><a target="_self" data-suffix="darkly" class="cssSelector">Darkly</a></li>
                            <li><a target="_self" data-suffix="cyborg" class="cssSelector">Cyborg</a></li>
                            <li><a target="_self" data-suffix="cosmo" class="cssSelector">Cosmo</a></li>
                        </ul>
                    </li>
                </ul>


            </div>
        </div>
    </nav>
    <toaster-container toaster-options="{ 'time-out': 10000, limit: 6 }"></toaster-container>

    <div class="row">
        <div id="center" class="">
            <div>
                <ul role="tablist" class="nav nav-tabs">
                    <li class="active"><a href="#weapons" ng-click="vm.curTab='weapons'; vm.filterItems(vm)" role="tab"
                                          data-toggle="tab">Weapons({{vm.gear.gear.weapons.length}})</a></li>
                    <li><a href="#armor" role="tab" ng-click="vm.curTab='armor'; vm.filterItems(vm)" data-toggle="tab">Armor({{vm.gear.gear.armor.length}})</a>
                    </li>
                    <li><a href="#engrams" role="tab" ng-click="vm.curTab='engrams'" data-toggle="tab">
                        Engrams({{vm.gear.gear.engrams.length}})</a>
                    </li>
                    <li ng-class="vm.loading===true?'disabled':''">
                        <a title="Force refresh from Bungie" ng-click="vm.loadGear()">
                            &nbsp;
                            <i ng-class="vm.loading===true?'fa fa-refresh fa-spin':'fa fa-refresh'"></i>
                            &nbsp;
                        </a>
                    </li>
                    <li ng-class="vm.dirty===false?'disabled':''">
                        <a title="Save changes to sync storage, auto-saves at 1s interval" ng-click="vm.saveChecked()">
                            &nbsp; <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;
                        </a>
                    </li>
                    <li><a href="#pvp" role="tab" ng-click="vm.curTab='pvp'" data-toggle="tab">PvP</a>
                    </li>
                    <li ng-class="(vm.pvpGuns!=null&&vm.pvpGuns.length>0)==false?'disabled':''">
                        <a href="#pvpguns" role="tab" ng-click="vm.curTab='pvpguns'" data-toggle="tab">PvP Analysis</a>
                    </li>
                    <li ng-show="vm.foundryOrders && vm.foundryOrders.length>0">
                        <a href="#deliveries" role="tab" ng-click="vm.curTab='about'" data-toggle="tab">Foundry
                            Orders</a>
                    </li>
                    <li>
                        <a href="#about" role="tab" ng-click="vm.curTab='about'" data-toggle="tab">About</a>
                    </li>
                    <li>
                        <a title="Save to gear.destinychecklist.net" ng-click="vm.saveToServer()">
                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
                <br>

                <div class="tab-content">

                    <div id="weapons" class="tab-pane active">

                        <div class="form-inline">

                            <div class="form-group">
                                <div class="btn-toolbar">
                                    <div class="btn-group">
                                        <button type="button" data-toggle="dropdown"
                                                class="btn btn-default dropdown-toggle ng-binding">
                                            {{vm.weaponFilters.selectedType.label}} <span
                                                class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li ng-repeat="filter in vm.weaponFilters.type">
                                                <a
                                                        ng-click="vm.weaponFilters.selectedType=filter; vm.filterItems(vm)">{{filter.label}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" data-toggle="dropdown"
                                                class="btn btn-default dropdown-toggle ng-binding">
                                            {{vm.weaponFilters.selectedRarity.label}} <span
                                                class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li ng-repeat="filter in vm.rarityFilters">
                                                <a
                                                        ng-click="vm.weaponFilters.selectedRarity=filter; vm.filterItems(vm)">{{filter.label}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" data-toggle="dropdown"
                                                class="btn btn-default dropdown-toggle ng-binding">
                                            {{vm.weaponFilters.selectedOwner.label}} <span
                                                class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a
                                                    ng-click="vm.weaponFilters.selectedOwner={label:'All Owners',id:null}; vm.filterItems(vm)">All</a>
                                            </li>
                                            <li ng-repeat="char in vm.gear.chars">
                                                <a
                                                        ng-click="vm.weaponFilters.selectedOwner=char; vm.filterItems(vm)">{{char.label}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                |
                            </div>
                            <div class="form-group">
                                <input type="text" ng-model="vm.weaponFilters.minLight" class="form-control" min="0"
                                       max="3" type="number" placeholder="Min Light" ng-change="vm.filterItems(vm)">
                                -
                                <input type="text" ng-model="vm.weaponFilters.maxLight" class="form-control" min="0"
                                       max="3" type="number" placeholder="Max Light" ng-change="vm.filterItems(vm)">
                            </div>
                            <div class="form-group">
                                |
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-default" ng-click="vm.downloadWeaponCsv()">
                                    <i class="fa fa-table" aria-hidden="true"></i>
                                    CSV
                                </button>
                                |
                                <button type="button" title="Lock all Keep/Upgrade items, unlock all Infuse/Junk items"
                                        class="btn btn-default" ng-click="vm.fixWeaponLocks()">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                    Fix
                                </button>

                            </div>

                        </div>
                        
                        <div class="table-responsive">
                            <table class="table table-condensed floatMe">
                            <thead>
                            <tr>
                                <th></th>
                                <th>
                                    <a
                                            ng-click="vm.gear.gear.weaponSort=='name'?vm.gear.gear.weaponReverse=!vm.gear.gear.weaponReverse:vm.gear.gear.weaponSort='name'">
                                        Name</a>
                                </th>
                                <th><a
                                        ng-click="vm.gear.gear.weaponSort=='light'?vm.gear.gear.weaponReverse=!vm.gear.gear.weaponReverse:vm.gear.gear.weaponSort='light'">Light</a>
                                </th>
                                <th><a
                                        ng-click="vm.gear.gear.weaponSort=='aa'?vm.gear.gear.weaponReverse=!vm.gear.gear.weaponReverse:vm.gear.gear.weaponSort='aa'">AA</a>
                                </th>
                                <th><a
                                        ng-click="vm.gear.gear.weaponSort=='impact'?vm.gear.gear.weaponReverse=!vm.gear.gear.weaponReverse:vm.gear.gear.weaponSort='impact'">Imp</a>
                                </th>
                                <th><a
                                        ng-click="vm.gear.gear.weaponSort=='range'?vm.gear.gear.weaponReverse=!vm.gear.gear.weaponReverse:vm.gear.gear.weaponSort='range'">Rng</a>
                                </th>
                                <th><a
                                        ng-click="vm.gear.gear.weaponSort=='stability'?vm.gear.gear.weaponReverse=!vm.gear.gear.weaponReverse:vm.gear.gear.weaponSort='stability'">Stab</a>
                                </th>
                                <th><a
                                        ng-click="vm.gear.gear.weaponSort=='rof'?vm.gear.gear.weaponReverse=!vm.gear.gear.weaponReverse:vm.gear.gear.weaponSort='rof'">ROF</a>
                                </th>
                                <th><a
                                        ng-click="vm.gear.gear.weaponSort=='reload'?vm.gear.gear.weaponReverse=!vm.gear.gear.weaponReverse:vm.gear.gear.weaponSort='reload'">Rel</a>
                                </th>
                                <th><a
                                        ng-click="vm.gear.gear.weaponSort=='magazine'?vm.gear.gear.weaponReverse=!vm.gear.gear.weaponReverse:vm.gear.gear.weaponSort='magazine'">Mag</a>
                                </th>
                                <th><a
                                        ng-click="vm.gear.gear.weaponSort=='inventory'?vm.gear.gear.weaponReverse=!vm.gear.gear.weaponReverse:vm.gear.gear.weaponSort='inventory'">Inv</a>
                                </th>

                                <th>Perks</th>
                                <th><a
                                        ng-click="vm.gear.gear.weaponSort=='tierTypeName'?vm.gear.gear.weaponReverse=!vm.gear.gear.weaponReverse:vm.gear.gear.weaponSort='tierTypeName'">Tier</a>
                                </th>
                                <th><a
                                        ng-click="vm.gear.gear.weaponSort=='itemTypeName'?vm.gear.gear.weaponReverse=!vm.gear.gear.weaponReverse:vm.gear.gear.weaponSort='itemTypeName'">Type</a>
                                </th>
                                <th>Mark</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-class="item.markClass"
                                ng-repeat="item in vm.gear.gear.weapons| orderBy:vm.gear.gear.weaponSort:vm.gear.gear.weaponReverse"
                                ng-if="!item.hidden">
                                <td>
                                    <div class="item-image"
                                         ng-style="{'background-image':'url(http://www.bungie.net'+item.icon+')'}">
                                        <div ng-class="item.damageType+'-bg'" class="primary-stat">{{item.light}}</div>
                                    </div>
                                </td>
                                <td>
                                    <a ng-if="item.stale" ng-click="vm.loadGear()"><i style="color:red"
                                                                                      class="fa fa-refresh"></i></a>
                                    <a ng-click="vm.clickToOpen(item)">{{item.name}}</a>
                                    <br/>
                                    <small>{{item.owner.label}}</small>
                                    <a ng-click="vm.toggleLockState(item)">
                                        <i ng-if="item.base.locked" title="Locked" class="fa fa-lock"></i>
                                        <i ng-if="!item.base.locked" title="Locked" class="fa fa-unlock"></i>
                                    </a>
                                    <i ng-if="item.leveled" title="Leveled Fully" class="fa fa-dot-circle-o"></i>
                                    <i ng-if="item.equipped" title="Equipped" class="fa fa-shield"></i>

                                    <br ng-if="item.options && item.options.length>0"/>
                                        <span ng-repeat="option in item.options">
                                            <small>
                                                <i>
                                                    <a
                                                            ng-click="vm.transfer(option, item)">{{option.label}}</a>
                                                </i>
                                            </small>
                                        </span>
                                    <small ng-if="item.lbl" class="help-block">[{{item.lbl}}]</small>


                                </td>
                                <td>{{item.light}}</td>
                                <td>{{item.aa}}</td>
                                <td>{{item.impact}}</td>
                                <td>{{item.range}}</td>
                                <td>{{item.stability}}</td>
                                <td>{{item.rof}}</td>
                                <td>{{item.reload}}</td>
                                <td>{{item.magazine}}</td>
                                <td>{{item.inventory}}</td>
                                <td>
                                    <div ng-repeat="step in item.steps">
                                        <small ng-class="step.selected?'text-primary':'text-muted'"
                                               ng-if="step.step.nodeStepName!='Upgrade Damage'">
                                            {{step.step.nodeStepName}}
                                        </small>
                                    </div>
                                </td>
                                <td>{{item.tierTypeName}}</td>
                                <td>{{item.itemTypeName}}</td>
                                <td class="button-wrapper">
                                    <button ng-click="vm.mark('upgrade',item)" class="btn btn-info muted" title="Upgrade">U
                                    </button>
                                    <button ng-click="vm.mark('keep',item)" class="btn btn-success muted" title="Keep">K</button>
                                    <button ng-click="vm.mark('test',item)" class="btn active muted" title="Test">T
                                    </button>
                                    <button ng-click="vm.mark('infuse',item)" class="btn btn-warning muted" title="Infuse">I
                                    </button>
                                    <button ng-click="vm.mark('junk',item)" class="btn btn-danger muted" title="Junk">J</button>
                                    <input type="text" class="form-control" maxlength="50"
                                           ng-model="vm.notes[item.instanceId]" ng-change="vm.updateSearchText(item)"
                                           placeholder="Notes">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                    <div id="armor" class="tab-pane fade">
                        <div class="form-inline">

                            <div class="form-group">
                                <div class="btn-toolbar">
                                    <div class="btn-group">
                                        <button type="button" data-toggle="dropdown"
                                                class="btn btn-default dropdown-toggle ng-binding">
                                            {{vm.armorFilters.selectedType.label}} <span
                                                class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li ng-repeat="filter in vm.armorFilters.type">
                                                <a
                                                        ng-click="vm.armorFilters.selectedType=filter; vm.filterItems(vm)">{{filter.label}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" data-toggle="dropdown"
                                                class="btn btn-default dropdown-toggle ng-binding">
                                            {{vm.armorFilters.selectedRarity.label}} <span
                                                class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li ng-repeat="filter in vm.rarityFilters">
                                                <a
                                                        ng-click="vm.armorFilters.selectedRarity=filter; vm.filterItems(vm)">{{filter.label}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" data-toggle="dropdown"
                                                class="btn btn-default dropdown-toggle ng-binding">
                                            {{vm.armorFilters.selectedOwner.label}} <span
                                                class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a
                                                        ng-click="vm.armorFilters.selectedOwner={label:'All',id:null}; vm.filterItems(vm)">All</a>
                                            </li>
                                            <li ng-repeat="char in vm.gear.chars">
                                                <a
                                                        ng-click="vm.armorFilters.selectedOwner=char; vm.filterItems(vm)">{{char.label}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" data-toggle="dropdown"
                                                class="btn btn-default dropdown-toggle ng-binding">
                                            {{vm.armorFilters.selectedEquippable.label}} <span
                                                class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li ng-repeat="filter in vm.armorFilters.equippable">
                                                <a
                                                        ng-click="vm.armorFilters.selectedEquippable=filter; vm.filterItems(vm)">{{filter.label}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                |
                            </div>
                            <div class="form-group">
                                <input type="text" ng-model="vm.armorFilters.minLight" class="form-control" min="0"
                                       max="3" type="number" placeholder="Min Light" ng-change="vm.filterItems(vm)">
                                -
                                <input type="text" ng-model="vm.armorFilters.maxLight" class="form-control" min="0"
                                       max="3" type="number" placeholder="Max Light" ng-change="vm.filterItems(vm)">
                            </div>
                            <div class="form-group">
                                |
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-default" ng-click="vm.downloadArmorCsv()">
                                    <i class="fa fa-table" aria-hidden="true"></i>
                                    CSV
                                </button>
                                |
                                <button type="button" title="Lock all Keep/Upgrade/Test items, unlock all Infuse/Junk items"
                                        class="btn btn-default" ng-click="vm.fixArmorLocks()">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                    Fix
                                </button>
                            </div>
                        </div>


                        <div class="table-responsive">
                        <table class="table table-condensed floatMe">
                            <thead>
                            <tr>
                                <th></th>
                                <th>
                                    <a
                                            ng-click="vm.gear.gear.armorSort=='name'?vm.gear.gear.armorReverse=!vm.gear.gear.armorReverse:vm.gear.gear.armorSort='name'">Name</a>
                                </th>
                                <th><a
                                        ng-click="vm.gear.gear.armorSort=='light'?vm.gear.gear.armorReverse=!vm.gear.gear.armorReverse:vm.gear.gear.armorSort='light'">Light</a>
                                </th>
                                <th>
                                    <a
                                            ng-click="vm.gear.gear.armorSort=='qualityPct'?vm.gear.gear.armorReverse=!vm.gear.gear.armorReverse:vm.gear.gear.armorSort='qualityPct'">Roll</a>
                                </th>
                                <th>
                                    <a
                                            ng-click="vm.gear.gear.armorSort=='statSplit'?vm.gear.gear.armorReverse=!vm.gear.gear.armorReverse:vm.gear.gear.armorSort='statSplit'">Split</a>
                                </th>
                                <th>
                                    <a
                                            ng-click="vm.gear.gear.armorSort=='intPct'?vm.gear.gear.armorReverse=!vm.gear.gear.armorReverse:vm.gear.gear.armorSort='intPct'">Int</a>
                                </th>
                                <th>
                                    <a
                                            ng-click="vm.gear.gear.armorSort=='disPct'?vm.gear.gear.armorReverse=!vm.gear.gear.armorReverse:vm.gear.gear.armorSort='disPct'">Dis</a>
                                </th>
                                <th>
                                    <a
                                            ng-click="vm.gear.gear.armorSort=='strPct'?vm.gear.gear.armorReverse=!vm.gear.gear.armorReverse:vm.gear.gear.armorSort='strPct'">Str</a>
                                </th>
                                <th><a
                                        ng-click="vm.gear.gear.armorSort=='int'?vm.gear.gear.armorReverse=!vm.gear.gear.armorReverse:vm.gear.gear.armorSort='int'">Int</a>
                                </th>
                                <th><a
                                        ng-click="vm.gear.gear.armorSort=='disc'?vm.gear.gear.armorReverse=!vm.gear.gear.armorReverse:vm.gear.gear.armorSort='disc'">Disc</a>
                                </th>
                                <th><a
                                        ng-click="vm.gear.gear.armorSort=='str'?vm.gear.gear.armorReverse=!vm.gear.gear.armorReverse:vm.gear.gear.armorSort='str'">Str</a>
                                </th>
                                <th>Perks</th>
                                <th><a
                                        ng-click="vm.gear.gear.armorSort=='tierTypeName'?vm.gear.gear.armorReverse=!vm.gear.gear.armorReverse:vm.gear.gear.armorSort='tierTypeName'">Tier</a>
                                </th>
                                <th><a
                                        ng-click="vm.gear.gear.armorSort=='itemTypeName'?vm.gear.gear.armorReverse=!vm.gear.gear.armorReverse:vm.gear.gear.armorSort='itemTypeName'">Type</a>
                                </th>

                                <th>Mark</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-class="item.markClass" ng-if="!item.hidden"
                                ng-repeat="item in vm.gear.gear.armor| orderBy:vm.gear.gear.armorSort:vm.gear.gear.armorReverse">
                                <td>
                                    <div class="item-image"
                                         ng-style="{'background-image':'url(http://www.bungie.net'+item.icon+')'}">
                                        <div class="primary-stat">{{item.light}}</div>
                                    </div>
                                </td>
                                <td>
                                    <a ng-if="item.stale" ng-click="vm.loadGear()"><i style="color:red"
                                                                                      class="fa fa-refresh"></i></a>
                                    <a ng-click="vm.clickToOpen(item)">{{item.name}}</a>
                                    <br/>
                                    <small>{{item.owner.label}}</small>
                                    <a ng-click="vm.toggleLockState(item)">
                                        <i ng-if="item.base.locked" title="Locked" class="fa fa-lock"></i>
                                        <i ng-if="!item.base.locked" title="Locked" class="fa fa-unlock"></i>
                                    </a>
                                    <i ng-if="item.leveled" title="Leveled Fully" class="fa fa-dot-circle-o"></i>
                                    <i ng-if="item.equipped" title="Equipped" class="fa fa-shield"></i>

                                    <br/>
                                    <small>Usable: {{item.classAllowed}}</small>
                                    <br ng-if="item.options && item.options.length>0"/>

                                    <span ng-repeat="option in item.options">
                                        <small>
                                            <i>
                                                <a ng-click="vm.transfer(option, item)">{{option.label}}</a>
                                            </i>
                                        </small>
                                    </span>
                                    <small ng-if="item.lbl" class="help-block">[{{item.lbl}}]</small>
                                </td>

                                <td>{{item.light}}</td>
                                <td>                                    
                                    <span ng-if="item.qualityPct>0">
                                    {{item.qualityPct}}%
                                    </span>
                                    <span ng-if="item.qualityPct<=0">
                                    -
                                    </span>
                                </td>
                                <td>{{item.statSplit}}</td>
                                <td><span ng-if="!item.intPct">-</span><span
                                        ng-if="item.intPct>0">{{item.intPct}}%</span></td>
                                <td><span ng-if="!item.disPct">-</span><span
                                        ng-if="item.disPct>0">{{item.disPct}}%</span></td>
                                <td><span ng-if="!item.strPct">-</span><span
                                        ng-if="item.strPct>0">{{item.strPct}}%</span></td>
                                <td>{{item.int}}</td>
                                <td>{{item.disc}}</td>
                                <td>{{item.str}}</td>
                                <td>
                                    <div ng-repeat="step in item.steps">
                                        <small ng-class="step.selected?'text-primary':'text-muted'"
                                               ng-if="step.step.nodeStepName!='Upgrade Defense'">
                                            {{step.step.nodeStepName}}
                                        </small>
                                    </div>
                                </td>
                                <td>{{item.tierTypeName}}</td>
                                <td>{{item.itemTypeName}}</td>
                                <td class="button-wrapper">
                                    <button ng-click="vm.mark('upgrade',item)" class="btn btn-info muted" title="Upgrade">U
                                    </button>
                                    <button ng-click="vm.mark('keep',item)" class="btn btn-success muted" title="Keep">K</button>
                                    <button ng-click="vm.mark('test',item)" class="btn active muted" title="Test">T</button>
                                    <button ng-click="vm.mark('infuse',item)" class="btn btn-warning muted" title="Infuse">I
                                    </button>
                                    <button ng-click="vm.mark('junk',item)" class="btn btn-danger muted" title="Junk">J</button>
                                    <input type="text" class="form-control" maxlength="50"
                                           ng-model="vm.notes[item.instanceId]" ng-change="vm.updateSearchText(item)"
                                           placeholder="Notes">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                    <div id="engrams" class="tab-pane fade">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th><a
                                        ng-click="vm.gear.gear.engramSort=='tierTypeName'?vm.gear.gear.engramReverse=!vm.gear.gear.engramReverse:vm.gear.gear.engramSort='tierTypeName'">Tier</a>
                                </th>
                                <th><a
                                        ng-click="vm.gear.gear.engramSort=='itemTypeName'?vm.gear.gear.engramReverse=!vm.gear.gear.engramReverse:vm.gear.gear.engramSort='itemTypeName'">Type</a>
                                </th>
                                <th><a
                                        ng-click="vm.gear.gear.engramSort=='item.owner.label'?vm.gear.gear.engramReverse=!vm.gear.gear.engramReverse:vm.gear.gear.engramSort='item.owner.label'">Owner</a>
                                </th>
                                <th>Mark</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-class="item.markClass"
                                ng-repeat="item in vm.gear.gear.engrams| orderBy:vm.gear.gear.engramSort:vm.gear.gear.engramReverse">
                                <td>
                                    <div class="item-image"
                                         ng-style="{'background-image':'url(http://www.bungie.net'+item.icon+')'}"/>
                                </td>
                                <td>
                                    <a ng-if="item.stale" ng-click="vm.loadGear()"><i style="color:red"
                                                                                      class="fa fa-refresh"></i></a>
                                    <span>{{item.name}}</span>
                                    <br ng-if="item.options && item.options.length>0"/>
                                    <span ng-repeat="option in item.options">
                                        <small>
                                            <i>
                                                <a ng-click="vm.transfer(option, item)">{{option.label}}</a>
                                            </i>
                                        </small>
                                    </span>
                                    <small ng-if="item.lbl" class="help-block">[{{item.lbl}}]</small>
                                </td>
                                <td>{{item.tierTypeName}}</td>
                                <td>{{item.itemTypeName}}</td>
                                <td>{{item.owner.label}}</td>
                                <td class="button-wrapper">
                                    <button ng-click="vm.mark('keep',item)" class="btn btn-success muted" title="Keep">K</button>
                                    <button ng-click="vm.mark('junk',item)" class="btn btn-danger muted" title="Junk">J</button>
                                    <input type="text" class="form-control" maxlength="50"
                                           ng-model="vm.notes[item.instanceId]" ng-change="vm.updateSearchText(item)"
                                           placeholder="Notes">
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="pvp" class="tab-pane fade">

                        <div class="form-inline">

                            <div class="form-group">

                                <div class="btn-toolbar">
                                    <div class="btn-group">
                                        <button type="button" data-toggle="dropdown"
                                                class="btn btn-default dropdown-toggle ng-binding">
                                            Mode: {{vm.pvpFilters.selectedMode.label}} <span
                                                class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li ng-repeat="filter in vm.pvpFilters.modeOptions">
                                                <a ng-click="vm.pvpFilters.selectedMode=filter">
                                                    {{filter.label}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" data-toggle="dropdown"
                                                class="btn btn-default dropdown-toggle ng-binding">
                                            Count: {{vm.pvpFilters.selectedCount.label}} <span
                                                class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li ng-repeat="filter in vm.pvpFilters.countOptions">
                                                <a ng-click="vm.pvpFilters.selectedCount=filter">
                                                    {{filter.label}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" data-toggle="dropdown"
                                                class="btn btn-default dropdown-toggle ng-binding">
                                            {{vm.pvpFilters.selectedChar.label}} <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a ng-click="vm.pvpFilters.selectedChar={id: null, label: 'All Chars'};">
                                                    All Chars
                                                </a>
                                            </li>
                                            <li ng-repeat="char in vm.gear.realChars">
                                                <a ng-click="vm.pvpFilters.selectedChar=char">{{char.label}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="pvpRange" class="input-group input-daterange">
                                <input id="pvpRangeStartDate" type="text" class="form-control actual-range" placeholder="Start Date">
                                <span class="input-group-addon">to</span>
                                <input id="pvpRangeEndDate"  type="text" class="form-control  actual-range" placeholder="End Date">
                            </div>
                           
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" ng-disabled="vm.pvpProgress!=null"
                                        ng-click="vm.loadPvp()">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                    Load
                                </button>
                            </div>
                            <div class="form-group">
                                |
                            </div>
                            <div class="form-group">
                                <a class="btn btn-info" href="http://www.destinychecklist.net/extensionFAQ"
                                   target="_blank" role="button">
                                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                                    FAQ
                                </a>
                            </div>

                            <div class="form-group">
                                <button type="button" class="btn btn-danger" ng-click="vm.showCacheClearModal()">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    Clear Cache
                                </button>
                            </div>

                            <div class="form-group">
                                <div class="btn-group">
                                    <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                                        <i class="fa fa-table" aria-hidden="true"></i> Full PVP CSV <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="char in vm.gear.realChars">
                                            <a ng-click="vm.downloadPvpCsv(char)">{{char.label}}</a>
                                        </li>
                                    </ul>
                                </div>                               
                            </div>

                        </div>
                        <div ng-show="vm.pvpProgress">
                            <br/>
                            <div ng-show="vm.pvpProgress.state=='history'">
                                <p class="help-block">
                                    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                                    Downloading match list from Bungie, this shouldn't take long </p>

                            </div>
                            <div ng-show="vm.pvpProgress.state=='PGCR'">
                                <p class="help-block">
                                    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                                    Downloading PostGameCarnageReports (this could take some time, but we save them for
                                    re-use later): </p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar"
                                         ng-style="{'width' : vm.pvpProgress.pct}">
                                        {{vm.pvpProgress.pct}} - {{vm.pvpProgress.completed}} / {{vm.pvpProgress.total}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th>
                                    <a ng-click="vm.pvpSort=='character.className'?vm.pvpReverse=!vm.pvpReverse:vm.pvpSort='character.className'">
                                        Char
                                    </a>
                                </th>
                                <th>
                                    <a ng-click="vm.pvpSort=='mode'?vm.pvpReverse=!vm.pvpReverse:vm.pvpSort='mode'">
                                        Mode
                                    </a>
                                </th>
                                <th>
                                    Weapons
                                </th>
                                <th>
                                    <a ng-click="vm.pvpSort=='period'?vm.pvpReverse=!vm.pvpReverse:vm.pvpSort='period'">
                                        Time
                                    </a>
                                </th>

                                <th>
                                    <a ng-click="vm.pvpSort=='fireTeamSize'?vm.pvpReverse=!vm.pvpReverse:vm.pvpSort='fireTeamSize'">
                                        Fireteam Size
                                    </a>
                                </th>
                                <th>
                                    <a ng-click="vm.pvpSort=='kd'?vm.pvpReverse=!vm.pvpReverse:vm.pvpSort='kd'">
                                        KD
                                    </a>
                                </th>
                                <th>
                                    <a ng-click="vm.pvpSort=='kda'?vm.pvpReverse=!vm.pvpReverse:vm.pvpSort='kda'">
                                        KDA
                                    </a>
                                </th>
                                <th>
                                    <a ng-click=
                                               "vm.pvpSort=='values.standing.basic.value'?vm.pvpReverse=!vm.pvpReverse:vm.pvpSort='values.standing.basic.value'">
                                        Result
                                    </a>
                                </th>
                                <th>
                                    <a ng-click="vm.pvpSort=='values.score.basic.value'?vm.pvpReverse=!vm.pvpReverse:vm.pvpSort='values.score.basic.value'">
                                        Score
                                    </a></th>
                                <th>
                                    <a ng-click="vm.pvpSort=='values.kills.basic.value'?vm.pvpReverse=!vm.pvpReverse:vm.pvpSort='values.kills.basic.value'">
                                        K
                                    </a></th>
                                <th>
                                    <a ng-click="vm.pvpSort=='values.assists.basic.value'?vm.pvpReverse=!vm.pvpReverse:vm.pvpSort='values.assists.basic.value'">
                                        A
                                    </a></th>
                                <th>
                                    <a ng-click="vm.pvpSort=='values.deaths.basic.value'?vm.pvpReverse=!vm.pvpReverse:vm.pvpSort='values.deaths.basic.value'">
                                        D
                                    </a></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="game in vm.pvp|orderBy:vm.pvpSort:vm.pvpReverse">
                                <td>
                                    <div class="item-image"
                                         ng-style="{'background-image':'url(http://www.bungie.net'+game.character.icon+')'}">
                                        <div ng-class="item.damageType+'-bg'" class="primary-stat">
                                            {{game.character.label}}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <a ng-href="http://www.destinychecklist.net/pvpmatch/{{game.activityDetails.instanceId}}"
                                       target="_blank">
                                        {{game.mode}}<br/>
                                        {{game.name}}
                                    </a>
                                </td>
                                <td>
                                    <i ng-if="game.missingData" class="fa fa-exclamation-circle text-danger" aria-hidden="true" title="Extended data missing from game. Bungie may have disabled this for now.  "></i>

                                    <dl class="dl-horizontal">
                                        <dt ng-repeat-start="gun in game.weapons">{{gun.name}}</dt>
                                        <dd ng-repeat-end="">{{gun.kills}}</dd>
                                    </dl>

                                </td>
                                <td>{{game.displayPeriod}}</td>
                                <td>{{game.fireTeamSize}}</td>
                                <td>{{game.kd|number:2}}</td>
                                <td>{{game.kda|number:2}}</td>
                                <td>{{game.values.standing.basic.displayValue}}</td>
                                <td>{{game.values.score.basic.displayValue}}</td>
                                <td>{{game.values.kills.basic.displayValue}}</td>
                                <td>{{game.values.assists.basic.displayValue}}</td>
                                <td>{{game.values.deaths.basic.displayValue}}</td>
                            </tr>
                            </tbody>
                        </table>


                    </div>

                    <div id="pvpguns" class="tab-pane fade">
                        <div class="row">
                            <form>

                                <div class="form-group  col-xs-1">
                                    <label for="avgKd">Avg KD</label>
                                    <p id="avgKd" class="form-control-static">{{vm.pvpAvg.kd|number:2}}</p>
                                </div>

                                <div class="form-group  col-xs-1">
                                    <label for="avgKda">Avg KDA</label>
                                    <p id="avgKda" class="form-control-static">{{vm.pvpAvg.kda|number:2}}</p>
                                </div>
                                <div class="form-group  col-xs-1">
                                    <label for="avgScore">Avg Score</label>
                                    <p id="avgScore" class="form-control-static">{{vm.pvpAvg.score|number:0}}</p>
                                </div>
                                <div class="form-group  col-xs-2">
                                    <label for="matchThreshold">Hide Guns with < X Games</label>
                                    <input type="number" class="form-control" id="matchThreshold"
                                           ng-model="vm.pvpGunThreshold" placeholder="">
                                </div>
                                <div class="form-group  col-xs-2">
                                    <label for="fireTeamSize">FireTeam Size</label>
                                    <select id="fireTeamSize" class="form-control"
                                            ng-model="vm.pvpFilters.selectedFireTeam"
                                            ng-change="vm.postProcessGuns()"
                                    >
                                        <option value="any">Any</option>
                                        <option value="team">Team</option>
                                        <option value="solo">Solo</option>
                                    </select>
                                </div>
                                <div class="form-group  col-xs-2">
                                    <label for="pvpMaps">Maps</label>
                                    <select id="pvpMaps" class="form-control"
                                            ng-model="vm.pvpFilters.selectedMap"
                                            ng-change="vm.postProcessGuns()"
                                    >
                                        <option value="any">Any</option>
                                        <option ng-repeat="map in vm.pvpmaps" value="{{map}}">{{map}}</option>
                                    </select>
                                </div>

                            </form>
                        </div>
                        <div ng-show="!vm.pvpGuns || vm.pvpGuns.length==0">
                            <p class="lead">No guns to show at the moment, load something or change your filter.<br/>
                            If Bungie isn't reporting extended gun data right now, this also won't work and you'll see
                                exclamation points on the previous PvP tab.</p>
                        </div>
                        <div ng-show="vm.pvpGuns && vm.pvpGuns.length>0">

                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>
                                        <a ng-click="vm.pvpGunSort=='name'?vm.pvpGunReverse=!vm.pvpGunReverse:vm.pvpGunSort='name'">
                                            Name
                                        </a>
                                    </th>
                                    <th>
                                        <a ng-click="vm.pvpGunSort=='kd'?vm.pvpGunReverse=!vm.pvpGunReverse:vm.pvpGunSort='kd'">
                                            KD
                                        </a>
                                    </th>
                                    <th>
                                        <a ng-click="vm.pvpGunSort=='kda'?vm.pvpGunReverse=!vm.pvpGunReverse:vm.pvpGunSort='kda'">
                                            KDA
                                        </a>
                                    </th>
                                    <th>
                                        <a ng-click="vm.pvpGunSort=='avgScore'?vm.pvpGunReverse=!vm.pvpGunReverse:vm.pvpGunSort='avgScore'">
                                            Avg Score
                                        </a>
                                    </th>
                                    <th>
                                        <a ng-click="vm.pvpGunSort=='actualKills'?vm.pvpGunReverse=!vm.pvpGunReverse:vm.pvpGunSort='actualKills'">
                                            Actual Kills
                                        </a>
                                    </th>
                                    <th>
                                        <a ng-click="vm.pvpGunSort=='precisionKills'?vm.pvpGunReverse=!vm.pvpGunReverse:vm.pvpGunSort='precisionKills'">
                                            Prec Kills
                                        </a>
                                    </th>
                                    <th>
                                        <a ng-click="vm.pvpGunSort=='kpg'?vm.pvpGunReverse=!vm.pvpGunReverse:vm.pvpGunSort='kpg'">
                                            Kills/Gm
                                        </a>
                                    </th>
                                    <th>
                                        <a ng-click="vm.pvpGunSort=='precPct'?vm.pvpGunReverse=!vm.pvpGunReverse:vm.pvpGunSort='precPct'">
                                            Prec %
                                        </a>
                                    </th>
                                    <th>
                                        <a ng-click="vm.pvpGunSort=='data.length'?vm.pvpGunReverse=!vm.pvpGunReverse:vm.pvpGunSort='data.length'">
                                            Games Used
                                        </a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="gun in vm.pvpGuns|orderBy:vm.pvpGunSort:vm.pvpGunReverse"
                                    ng-if="gun.data.length>=vm.pvpGunThreshold">
                                    <td>
                                        <div class="item-image"
                                             ng-style="{'background-image':'url(http://www.bungie.net'+gun.icon+')'}">
                                        </div>

                                        {{gun.name}}
                                    </td>

                                    </td>
                                    <td>{{gun.kd|number:2}}</td>
                                    <td>{{gun.kda|number:2}}</td>
                                    <td>{{gun.avgScore|number:0}}</td>
                                    <td>{{gun.actualKills}}</td>
                                    <td>{{gun.precisionKills}}</td>
                                    <td>{{gun.kpg|number:2}}</td>
                                    <td>{{gun.precPct| percentage:0}}</td>
                                    <td>{{gun.data.length}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="deliveries" class="tab-pane fade">
                        <!--<a ng-click="vm.getFoundryOrders()" class="btn btn-info btn-xs">-->
                            <!--Reset-->
                        <!--</a>-->
                        
                        <a ng-click="launchCopyModal()" title="Copy for Reddit" class="btn btn-primary btn-xs"> 
                            <i class="fa fa-clipboard"></i><span class="hidden-xs"> Copy for reddit</span>
                        </a>
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th class="col-lg-1">Owner</th>
                                <th class="col-lg-1">Gun</th>
                                <th class="col-lg-1">Type</th>
                                <th class="col-lg-9">Rolls</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="gun in vm.foundryOrders">
                                <td>
                                    <div class="item-image"
                                         ng-style="{'background-image':'url(http://www.bungie.net'+gun.owner.icon+')'}">
                                        <div class="primary-stat">
                                            {{gun.owner.label}}
                                        </div>
                                    </div>
                                </td>
                                <td>{{gun.name}}</td>
                                <td>{{gun.itemTypeName}}</td>
                                <td>
                                    <table class="table table-striped">
                                        <tr ng-repeat="damageAndSteps in gun.damageAndSteps">                                            
                                            <td ng-repeat="col in damageAndSteps.steps">
                                                <div ng-repeat="node in col">
                                                    {{node}}
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                    <div id="about" class="tab-pane fade">
                        <div class="jumbotron">

                            <p>This is an extension I've built on top of Destiny Item Manager's service layer.
                                <mark><a
                                        href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=VBASBDZD7HAHS"
                                        target="_blank">If you really enjoy this plugin and want to help support its
                                    development,
                                    you can donate via PayPal</a></mark>
                                . If you have any suggestions, questions,
                                or comments you can post on
                                <a href="http://www.reddit.com/r/destinychecklistnet/" target="_blank">/r/destinychecklistnet</a>
                                or <a href="http://www.reddit.com/message/compose/?to=dweezil22" target="_blank">message
                                    me via Reddit</a>.
                                I have opened sourced (but not remotely prettified) the code to this, you can see it
                                <a href="https://bitbucket.org/dcaslin/destinyextension" target="_blank">here</a>.
                                My main goals are:


                            <ul>
                                <li>Offer a clean spreadsheet view of your gear</li>
                                <li>Allow tagging of gear so when you're aware from your console you can manage things
                                </li>
                                <li>Show as much "hidden" data as cleanly possible (things like Aim Assist)</li>
                                <li>Allow some reasonable personalized PVP gun performance analysis (more on that
                                    <a href="http://www.destinychecklist.net/extensionFAQ" target="_blank">here</a>)
                                </li>
                            </ul>

                            </p>

                        </div>


                    </div>
                </div>

            </div>
        </div>

        <div id="footer">
            <div class="navbar navbar-inner">

                <p class="muted credit textCenter">2016 &copy; Destiny Checklist | <a
                        href="http://www.reddit.com/message/compose/?to=dweezil22" target="_blank">
                    Contact via reddit</a> | destinychecklistnet at gmail.com | <a href="/privacy">Privacy Policy</a> |
                    <span style="display: inline-block;">
                        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=P6QB5N3P7N9K4&lc=US&item_name=Support%20DestinyChecklist%2enet&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted"
                           title="Donate to support the site!" target="_blank"><i
                                class="fa fa-paypal icon-blocks icon-blocks--paypal"></i> Donate
                        </a>
                    </span>

                </p>


            </div>
        </div>

        <div id="itemModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{vm.modal.item.name}} {{vm.modal.item.light}}
                            {{vm.modal.item.damageType}}</h4>
                    </div>
                    <div class="modal-body">

                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#steps" aria-controls="home" role="tab" data-toggle="tab">Steps</a>
                            </li>
                            <li role="presentation">
                                <a href="#stats" aria-controls="profile" role="tab" data-toggle="tab">Stats</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="steps">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr ng-repeat="row in vm.modal.cols">
                                        <td ng-repeat="item in row" ng-class="item.selected?'bg-success':'text-muted'">
                                            <b>{{item.step.nodeStepName}}</b> <br/> {{item.step.nodeStepDescription}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="stats">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Stat</th>
                                        <th>Current</th>
                                        <th>Base</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr ng-repeat="row in vm.modal.item.jstats">
                                        <th>{{row.name}}</th>
                                        <td>{{row.actual}}</td>
                                        <td>{{row.value}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="clearCacheModal" class="modal fade">
            <div class="modal-dialog" role="document">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Are you sure?</h4>
                    </div>

                    <div class="modal-body">
                        <p>This will clear the cache of saved PGCR's.
                            Your PGCR cache is currently {{clear.cacheCount}} games
                            occupying <span id="cacheSize">fda</span>.
                            If you delete these, it will free up
                            space but may require re-downloading game reports when you search again.
                            Do you want to delete?
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" ng-click="vm.clearPGCRCache()">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="loadingModal" class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-body">
                        <h3>
                            <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                            Please wait, refreshing items from Bungie...<br/>
                            {{vm.progressMsg}}
                        </h3>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div id="copyModal" tabindex="-1" role="dialog" class="modal fade">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Copy and paste the text below to make a nicely formatted Reddit table.
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <textarea ng-model="vm.redditRolls" rows="20" class="form-control"></textarea>
                </div>
                <div class="modal-footer hidden-xs">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Close           </button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>

<script src="js/init.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/floatthead/1.4.4/jquery.floatThead-slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-animate.min.js"></script>
<script src="js/toaster.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
<script src="js/lz-string.min.js"></script>
<script src="js/GearApp.js"></script>
<script src="js/GearController.js"></script>
<script src="js/BungieService.factory.js"></script>
<script src="js/PvpService.factory.js"></script>
<script src="js/ItemQualityService.factory.js"></script>
<script src="js/Manifest.js"></script>
<script src="js/ga_ext.js"></script>
</body>
</html>